<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.motif.motif">

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission-sdk-23 android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="allowBackup,supportsRtl, theme">

        <!-- Splash Screen -->
        <activity
            android:name="com.motif.motif.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home Activity -->
        <activity
            android:name="com.motif.motif.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme" />

        <!-- Level Select Activity -->
        <activity
            android:label="@string/app_name"
            android:name="com.motif.motif.LevelSelectActivity"
            android:parentActivityName="com.motif.motif.HomeActivity"
            android:theme="@style/AppTheme" />

        <!-- Game Activity -->
        <activity
            android:label="@string/app_name"
            android:name="com.motif.motif.GameActivity"
            android:theme="@style/AppTheme" />

        <service
            android:label="@string/app_name"
            android:name="com.motif.motif.data.DataInitService"
            android:exported="false" />

        <activity
            android:label="@string/app_name"
            android:name="com.motif.motif.AboutAndOptionsActivity" />

        <activity
            android:label="@string/app_name"
            android:name="com.motif.motif.TutorialActivity"/>
    </application>

</manifest>